<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Marksheet</title>
</head>
<body>
<h1> Student Information System </h1>
<form action="http://127.0.0.1:8081/result", method="POST">
    <label> English </label>
    <input type="text", name="English"/>
    <br><br>
    <label> marathi </label>
    <input type="text", name="Marathi"/>
    <br><br>
    <label> Chemistry </label>
    <input type="text", name="Chemistry"/>
    <br><br>
    <label> Biology </label>
    <input type="text", name="Biology"/>
    <br><br>
    <input type="submit", value="Submit">
</form>

</body>
</html>